.page-title {
    margin-bottom: 20px;
  }
  
  .ant-descriptions-bordered {
    margin-top: 20px;
  }
  
  .ant-descriptions-item-label {
    font-weight: bold !important;
  }
  
  .ant-btn {
    margin-top: 20px;
  }
